<% if  @list.image_url.present? %>
  <%= image_tag @list.image_url, alt: 'List picture', height: 300%>
<% end %>

<h1><%= @list.name %></h1>

<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <%= cl_image_tag movie.photo.key, height: 300, width: 400, crop: :fill %>
      <h3><%= movie.title %></h3>
      <p>Notes to the film: <%= movie.bookmarks[0].comment %></p>
      <p><%= link_to 'ðŸ—‘ï¸',
              bookmark_path(movie.bookmarks[0]),
              data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></p>
    </li>
  <% end %>
</ul>

<p><%= link_to 'create a new bookmark', new_list_bookmark_path(@list) %></p>
<p><%= link_to 'back to overview', lists_path %></p>

